# Get your client ID and client secret from the Spotify Developer Dashboard.
CLIENT_ID = ""
CLIENT_SECRET = ""

# This doesn't actually have to be a real URL; it's just where the Spotify API
# will attempt to send a browser after a successful authentication. But this
# URI does need to be registered in your Spotify Developer Dashboard, under
# "Redirect URIs" under "Edit Settings" in your client.
REDIRECT_URI = "http://some.url/"

# These are used by scripts that check an "all tracks" playlist.
ALL_PLAYLIST_ID = ""
ALL_PLAYLIST_NAME = ""

# These are used (only) by removed.py. If you omit them, the other scripts won't
# complain.
REMOVED_PLAYLIST_ID = ""
REMOVED_PLAYLIST_NAME = ""
